<!DOCTYPE html>
<html>
    <head>
        <title>Libro Revision</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% block jsScriptImport %}{% endblock %}        
    </head>
    <body>
    <section class="lappy login" style="height: 100%">
        <div class="row no-gutters" style="height: 100%">
            <div class="col-1" style="height: inherit"></div>
            <div class="col-2" style="height: inherit; padding-top: 1%; ">
                <a href="{{ url_for('index') }}" style="height: inherit; width: inherit"><img style="height: inherit; width: inherit" src="{{ url_for('static',filename='myImages/storybook.svg') }}"/></a>
            </div>
            <div class="col-7" style="height: inherit;display: flex; justify-content: center;padding: 1%">
                <form id="search" style="width: inherit; display: flex; justify-content: center">
                  <div class="form-row" style="width: inherit;">
                    <div class="form-group col-10">
                      <input type="text" class="form-control form-control-sm dropdown-toggle" id="searchText" placeholder="Search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="dropdown-menu" aria-labelledby="searchText" id="dropDownMenu" style="width: inherit;">
                        <a class="dropdown-header">Top Searches</a>
                        <div class="dropdown-divider"></div>
                      </div>
                    </div>
                    <div class="form-group col-2">
                        <button type="Login" class="btn btn-primary btn-sm">Search</button>
                    </div>
                  </div>
                </form>
            </div>
            <div class="col-1" style="height: inherit; padding-top: 1%; padding-left: 2%; padding-right: 2%;padding-bottom: 2%;">
                <a href="{{ url_for('user') }}" style="height: inherit; width: inherit"><img style="height: inherit; width: inherit" src="{{ url_for('static',filename='myImages/man-working-on-laptop.svg') }}"/></a>
            </div>
            <div class="col-1" style="height: inherit"></div>
        </div>
    </section>
    {% block body %}
    {% endblock %}
  </body>
</html>