{% extends "registerLoginLayout.html" %}

{% block formBlock %}

                <form method=post>
                {% from "_formhelper.html" import render_field %}
                {{ form.csrf_token }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                  <div style="display: flex; justify-content: center;">
                    <button type="Login" class="btn btn-primary mr-2">Register</button>
                    <a href="{{ url_for('login') }}" class="btn btn-primary" role="button">Already have account? Login</a>
                  </div> 
                </form>

{% endblock %}


